<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sartainstudios.contacts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MyContacts"
            android:label="@string/title_activity_my_contacts"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutContacts"
            android:label="@string/title_activity_about_contacts"
            android:parentActivityName=".MyContacts">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyContacts"/>
        </activity>
        <activity
            android:name=".SearchContacts"
            android:label="@string/title_activity_search_contacts"
            android:parentActivityName=".MyContacts">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyContacts"/>
        </activity>
        <activity
            android:name=".AddContact"
            android:label="@string/title_activity_add_contact"
            android:parentActivityName=".MyContacts">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyContacts"/>
        </activity>
        <activity
            android:name=".ContactsSettings"
            android:label="@string/title_activity_contacts_settings"
            android:parentActivityName=".MyContacts">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyContacts"/>
        </activity>
    </application>

</manifest>
